:root{
    --green: #0D4433;
    --chocolate-brown: #7A4D4A;
    --light-beige: #F9F4E9;
    --beige: #CCBEA6;
    --golden: #D3A45F;
    --dark: #2E2F2E;

    --default-border: 0.5px;
}

body{
    background-color: var(--light-beige);
}

header{
    display: flex;
    background-color: var(--chocolate-brown);
}

footer{
    background-color: var(--dark);
}

ul{
    list-style: none;
    display: flex;
}

.menu{
    justify-content: space-around;
}

.menu li{
    justify-content: space-between;
}