:root{
    --green: #0D4433;
    --chocolate-brown: #7A4D4A;
    --light-beige: #F9F4E9;
    --beige: #CCBEA6;
    --golden: #D3A45F;
    --dark: #2E2F2E;

    --default-border: 0.5px;

    --default-font:'Mulish', sans-serif;
    --semi-bold: 600;
    --normal: 500;
    --light: 300;
    --bold:700;

    --desktop-padding-side:240px;
}

body{
    background-color: var(--light-beige);
    font-family: var(--default-font);
    margin: 0;
    position: relative;
    min-height: 100vh;
}

header{
    background-color: var(--chocolate-brown);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
}

.menu{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.menu a{
    padding-left: 100px;
    padding-right: 100px;
}

.round-menu{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.round-menu a{
    padding-left: 8px;
    width: 25px;
    color: white;
}

.menu a{
    image-resolution: from-image;
    text-decoration: none;
    color: white;
}

.header-js{
    margin: 0;
    padding: 0;
}

/*footer style*/
footer{
    background-color: var(--dark);
    width: 100%;
    padding-top: 25px;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
}
.footer-container{
    width: 70%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.footer-column{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 33%;
}

ul.address{
    padding: 0;
}

.footer-column ul{
    list-style-type: none;
}

.address li{
    display: flex;
    align-items: center;
}

.address p{
    padding-left: 10px;
}

.footer-column a, .address p{
    color: white;
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 13px;
}

.social-media a{
    padding-right: 5px;
}